@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.main{
    height: 100vh;
    font-family: "Open Sans", sans-serif; 
 



    
    display: flex;
    flex-direction: column;
    background: #A1FFCE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.barner{
    display: flex;
    flex: 0.15;
    
    
    flex-direction: row;
    
}

.content{
    display: flex;
    flex: 0.85;
    
    flex-direction: row;
}


.leftdiv{
    display: flex;
    flex: 0.4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.rightdiv{
    display: flex;
    flex: 0.6;
   
    
}

.logo{
    display: flex;
    flex: 0.3;
  
}


.links{
    display: flex;
    flex: 0.7;
    justify-content: space-evenly;
    align-items: center;

    
}

